body{
  text-align: center;
  font-family: "Avenir Next"
}
#phaser{
  margin: auto;
  width: 900px;
}

#textScreen{
  font-size: 4em;
  position: absolute;
  width: 900px;
  text-align: center;
  top: 400px;
  background: rgba(255, 255, 255, .5);;
}
#nudgeInstructions{
  font-size: 1.5em;
  position: absolute;
  width: 900px;
  text-align: center;
  top: 200px;
}
#nudgeInstructions div{
  background: rgba(255, 255, 255, .8);;
  width: 200px;
  margin: auto;
  padding: 1em;
}
.hide{
  display: none;
}

.sub{
  font-size: .5em;
}

#toolbar{
  text-align: left;
  font-size: .5em;
}
#toolbar span{
  font-size: 2em;
}

#directions{
  width: 800px;
  margin: auto;
  text-align: left;
  font-size: 1.5em;
  padding: 50px;
  position: absolute;
  top: 200px;
  background: rgba(0, 0, 0, 0.8);;
  color: white;
}

#start{
  font-size: 3em;
  text-align: center;
  cursor: pointer;
  /*background: black;
  color: white;
  */
}
#start:hover{
  color: pink;
}

.bold{
  font-size: 1em;
  font-weight: bold;
}

#toolbar #score{
  float: right;
}
